appdirs
asgiref
atomicwrites
attrs
black
certifi
chardet
click
colorama
coverage
cryptography
Django
django-js-asset
django-mptt
factory-boy
Faker
gunicorn
idna
inflection
iniconfig
isort
mypy-extensions
packaging
pathspec
Pillow
pluggy
py
pycparser
pyOpenSSL
pyparsing
pytest
pytest-django
pytest-factoryboy
python-dateutil
pytz
regex
requests
six
sqlparse
text-unidecode
toml
typed-ast
typing-extensions
urllib3
celery
redis
psycopg2
django-celery-beat
django-celery-results
flower
django-debug-toolbar