{% extends "account/base.html" %}

{% load i18n %}


{% block important_messages %}
{% endblock important_messages %}



{% block content %}
<section class="account-registration container">

  <div class="registration-form">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      <p class="signup-verification">If you have not created an account yet, then please
        <a class="signup-btn" href="{{ signup_url }}">Sign up</a> first.</p>
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction forgot-password" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="primaryAction submit-btn" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>
</section>


{% endblock %}
