@font-face {
  font-family: roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto-bold-italic;
  src: url(../fonts/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: roboto-italic;
  src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: roboto-medium;
  src: url(../fonts/Roboto-Medium.ttf);
}

:root {
  --primary: #1d67de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: roboto-italic, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/***********************************************Header**********************************************/
.header-banner {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 30px;
}

.header-banner--date {
  font-size: 25px;
}

.header-banner--heading {
  font-size: 60px;
  font-weight: 400;
}

.header-banner--subscription button {
  background-color: yellow;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
/***********************************************Header**********************************************/

/***********************************************Navbar*******************************************/
.navigation {
  margin-top: 20px;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 25px;
  font-family: roboto-bold, sans-serif;
  color: black;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: var(--primary);
}

.navbar-collapse .form-inline input {
  height: 20px;
}

/***********************************************Navbar*******************************************/

/*************************************************news-section**********************************/

.row--container {
  position: relative;
}

.row--container .row--container-title {
  position: absolute;
  left: 540px;
  font-weight: 500;
  font-size: 25px;
  color: grey;
  top: -10px;
}

.row--container
  .row--container--info-card
  .row--container--info-card-img-data
  img {
  height: 350px;
  width: 350px;
}

.row--container .row--container--info-card .row--container--info-card-img-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row--container .row--container--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 30px;
}

.row--container .row--container--info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row--container .row--container--info-card .row--container--info-card-title {
  width: 70%;
  margin-top: 20px;
  font-family: roboto-bold, sans-serif;
}

.row--container .row--container--info-card .row--container--info-card-title a {
  text-decoration: none;
  color: black;
}

.row--container
  .row--container--info-card
  .row--container--info-card-title
  a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.row--container .row--container--info-card .row--container--info-card-text {
  font-size: 15px;
}

.row--container
  .row--container--info-card
  .row--container--info-card-img-data
  .row--container--info-category
  a {
  font-size: 25px;
  background-color: var(--primary);
  color: white;
  padding: 10px;
}

.paginator__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.paginator__section .pagination {
  font-size: 20px;
}

.no-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.no-categories img {
  height: 400px;
  width: 400px;
}

/*************************************************news-section**********************************/

/*******************************************Footer***************************************/
.footer {
  font-size: 15px;
}

.footer .social-links .fab {
  font-size: 25px;
}
/*******************************************Footer***************************************/
/*************************************************Ad manager***********************************************/
.ad-manager-banner {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 30px;
}

.ad-manager-banner--heading {
  font-size: 60px;
  font-weight: 400;
}

.ad-manager-banner--subscription button {
  background-color: rgb(77, 231, 239);
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
/*************************************************Ad manager***********************************************/
