{% load static %}

<div class="search-section--ads">
  <div class="search-section--ad">
    <div class="search-section-ad-container">
      <button class="search-section-ad-btn"><a href="#">ad</a></button>
      <h6 class="search-section--ad-title"><a href="#">Tesla Car</a></h6>
    </div>
    <p class="search-section--ad-snippet">
      <a href="#"
        >Voters in Georgia head to the polls today to decide the final seat in
        the U.S. Senate following November's midterm elections.</a
      >
    </p>
  </div>
  <div class="search-section--ad">
    <div class="search-section-ad-container">
      <button class="search-section-ad-btn"><a href="#">ad</a></button>
      <h6 class="search-section--ad-title"><a href="#">Tesla Car</a></h6>
    </div>
    <p class="search-section--ad-snippet">
      <a href=""
        >Voters in Georgia head to the polls today to decide the final seat in
        the U.S. Senate following November's midterm elections.</a
      >
    </p>
  </div>
  <div class="search-section--ad">
    <div class="search-section-ad-container">
      <button class="search-section-ad-btn"><a href="#">ad</a></button>
      <h6 class="search-section--ad-title"><a href="#">Tesla Car</a></h6>
    </div>
    <p class="search-section--ad-snippet">
      <a href=""
        >Voters in Georgia head to the polls today to decide the final seat in
        the U.S. Senate following November's midterm elections.</a
      >
    </p>
  </div>
</div>
