{% load static %}
<div class="sponsored-ads---section container">
  <h4 class="sponsored-ads---section-header">Featured</h4>
  <div class="sponsored-ads--collection">
    <div class="sponsored-ads--adcard">
      <a href="#"><img src={% static "images/tesla.jpg" %} alt="musk" /></a>
      <h6 class="sponsored-adcard--title"><a href="#">Tesla Model X</a></h6>
      <p class="sponsored-adcard--snippet">
        A bold new approach to steering offers better feel and an unobstructed
        view of the road ahead.
      </p>
    </div>
    <div class="sponsored-ads--adcard">
      <a href="#"><img src={% static "images/tesla.jpg" %} alt="musk" /></a>
      <h6 class="sponsored-adcard--title"><a href="#">Tesla Model X</a></h6>
      <p class="sponsored-adcard--snippet">
        A bold new approach to steering offers better feel and an unobstructed
        view of the road ahead.
      </p>
    </div>
    <div class="sponsored-ads--adcard">
      <a href="#"><img src={% static "images/tesla.jpg" %} alt="musk" /></a>
      <h6 class="sponsored-adcard--title"><a href="#">Tesla Model X</a></h6>
      <p class="sponsored-adcard--snippet">
        A bold new approach to steering offers better feel and an unobstructed
        view of the road ahead.
      </p>
    </div>
    <div class="sponsored-ads--adcard">
      <a href="#"><img src={% static "images/tesla.jpg" %} alt="musk" /></a>
      <h6 class="sponsored-adcard--title"><a href="#">Tesla Model X</a></h6>
      <p class="sponsored-adcard--snippet">
        A bold new approach to steering offers better feel and an unobstructed
        view of the road ahead.
      </p>
    </div>
  </div>
</div>
