{% load static %}
<section class="subscription container">
  <div class="subscription--call-to-action">
    <img src="{% static 'images/trump.jpg' %}" alt="trump" />
    <div class="subscription--info">
      <h5>In-depth Analysis right in your inbox</h5>
      <p>Access + Weekly delivery, choose a membership that fits your needs</p>
      <button class="subscription-btn">
        <a href="#">Subscription <i class="fa-solid fa-arrow-right"></i></a>
      </button>
    </div>
  </div>
</section>
