{% extends 'base.html' %} 
{% load static %} 
{% block content %}
    <section class="container top-news">
        <h4 class="top-news--heading">TOP NEWS</h4>
        <div class="articles">
            {% for each_article in  top_articles %}
            <div class="top-news--article">

                <div class="top-news--article-info">
                    <img src="{{each_article.image.url}}" alt="xi-trump">
                    <div class="top-news-article--meta-data">
                        <div class="top-news--article-category"><a href="{{each_article.category.get_absolute_url}}">{{each_article.category.name}}</a><span class="rankings"><i
                                    class="fa-solid fa-fire"></i></span></div>

                    </div>
                    <h5 class="top-news--article-title"><a href="{{each_article.get_absolute_url}}">{{each_article.title}}</a>
                    </h5>

                    <div class="top-news--article-desc">
                        <p>{{each_article.posts|truncatechars:500}}</p>
                    </div>
                </div>

            </div>
                
            {% endfor %}
        </div>
    </section>
    <section class="politics container">
        <div class="articles--layout">
            <h4 class="articles--layout-heading">POLITICS</h4>
            <div class="articles-layout--article-row">
                {% for each_article in politics_articles_1  %}
                <div class="articles--layout-card-info">
                    <img src="{{each_article.image.url}}" alt="xi-trump">
                    <div class="articles--layout-article-category"><a href="{{each_article.get_absolute_url}}">{{each_article.category.name}}</a></div>
                    <h5 class="articles--layout-title"><a href="{{each_article.get_absolute_url}}">{{each_article.title}}</a>
                    </h5>
                    <div class="articles--layout-article-desc">
                        <p>{{each_article.posts|truncatechars:300}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="articles-layout--article-row">
                {% for each_article in politics_articles_2  %}
                <div class="articles--layout-card-info">
                    <img src="{{each_article.image.url}}" alt="xi-trump">
                    <div class="articles--layout-article-category"><a href="{{each_article.get_absolute_url}}">{{each_article.category.name}}</a></div>
                    <h5 class="articles--layout-title"><a href="{{each_article.get_absolute_url}}">{{each_article.title}}</a>
                    </h5>
                    <div class="articles--layout-article-desc">
                        <p>{{each_article.posts|truncatechars:300}}</p>
                    </div>
                </div>
                {% endfor %}
                
            </div>
    </section>
    
    <section class="latest-stories container">

        <div class="sponsored--ads-container">
            <h4>Sponsored Ads</h4>
            {% for each_ad in home_page_ads  %}
            <div class="advert">
                <h6 class="advert--title">{{each_ad.title}}</h6>
                <img src="{{each_ad.image.url}}" alt="tesla">
                <p class="advert--desc">{{each_ad.description|truncatechars:50}}<span><button><a href="{{each_ad.get_absolute_url}}">Click for more</a></button></span></p>
            </div>
            {% endfor %}
            {% comment %} <div class="advert">
                <h6 class="advert--title">New Tesla</h6>
                <img src="{% static 'images/tesla.jpg' %}" alt="tesla">
                <p class="advert--desc">Tesla spends $0 on traditional advertising. Tesla also decided to,
                    recently<span><button href="">Click for more</button></span></p>
            </div>
            <div class="advert">
                <h6 class="advert--title">New Tesla</h6>
                <img src="{% static 'images/tesla.jpg' %}" alt="tesla">
                <p class="advert--desc">Tesla spends $0 on traditional advertising. Tesla also decided to,
                    recently,<span><button href="">Click for more</button></span></p>
            </div>
            <div class="advert">
                <h6 class="advert--title">New Tesla</h6>
                <img src="{% static 'images/tesla.jpg' %}" alt="tesla">
                <p class="advert--desc">Tesla spends $0 on traditional advertising. Tesla also decided to,
                    recently<span><button href="">Click for more</button></span></p>
            </div> {% endcomment %}
        </div>
        <div class="stories">
            <h6 class="stories--heading">Latest Stories</h6>
            {% for each_article in  latest_articles %}
            <div class="story-card-info">
                <div class="story-card--info-img">
                    <img src="{{each_article.image.url}}" alt="xi-jinping">
                    <div class="story-card--info-category" style="padding-right: 50px"><a href="#">{{each_article.category.name|upper}}</a></div>
                </div>
                <div class="story-card--info-metadata">
                    <h5 class="story-card--heading"><a href="{{each_article.get_absolute_url}}">{{each_article.title}}
                        </a></h5>
                    <p>{{each_article.posts|truncatechars:800}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="around-the-world container">
        <h4 style="color: grey">Around The World</h4>
 
        <div class="around-the-world--articles-row">
            {% for each_article in around_the_world_1 %}
            <div class="around-the-world--article-card">
                <div class="around-the-world--article-card-info">
                    <img src="{{each_article.image.url}}" alt="musk">
                    <div class="around-the-world-article-info-category"><a href="{{each_article.category.get_absolute_url}}">{{each_article.category.name}}</a></div>
                </div>
                <h5 class="around-the-world-article-card-title"><a href="{{each_article.get_absolute_url}}">{{each_article.title}}</a></h5>
            </div>
            {% endfor %}
        </div>
        <div class="around-the-world--articles-row">
            {% for each_article in around_the_world_2 %}
            <div class="around-the-world--article-card">
                <div class="around-the-world--article-card-info">
                    <img src="{{each_article.image.url}}" alt="musk">
                    <div class="around-the-world-article-info-category"><a href="{{each_article.category.get_absolute_url}}">{{each_article.category.name}}</a></div>
                </div>
                <h5 class="around-the-world-article-card-title"><a href="{{each_article.get_absolute_url}}">{{each_article.title}}</a></h5>
            </div>
            {% endfor %}
        </div>
    </section>

{% include 'includes/subscription.html' %}
{% endblock content %}

