{% extends 'base.html' %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock css %}


{% block content %}
<section class="search-section container">
    {% include 'includes/search_section_form.html' %}
    <div class="search-section--ads">
        {% for search_ad in search_ads  %}
        <div class="search-section--ad">
          <div class="search-section-ad-container">
            <button class="search-section-ad-btn"><a href="#">ad</a></button>
            <h6 class="search-section--ad-title"><a href="{{search_ad.get_absolute_url}}">{{search_ad.title}}</a></h6>
          </div>
          <p class="search-section--ad-snippet">
            <a href="{{search_ad.get_absolute_url}}">{{search_ad.description}}</a>
          </p>
        </div>
        {% endfor %}
      </div>
    {% if articles %}
    <div class="search-section--results">
        {% for article in articles %}
        <div class="search-section--search-result">
            <img src="{{article.image.url}}" alt="musk">
            <div class="search-section--result-meta-data">
                <h5 class="search-section--result-category"><a href="{{article.category.get_absolute_url}}">{{article.category.name}}</a></h5>
                <h4 class="search-section--result-title"><a href="{{article.get_absolute_url}}">{{article.title}}</a></h4>
                <p class="search-section--result-snippet">{{article.posts|truncatechars:300}}</p>
            </div>
        </div>
        <hr class="horizontal--line">
        {% endfor %}
    </div>
    {% else %}
    <div class="no-searches">
        <img src="{% static 'images/no-categories.jpg'%}"> 
    </div>
    
    {% endif %}
    


</section>

{% endblock content %}


