{% extends 'ads/campaigns/campaign_base.html' %}
{% load static %}
{% block content %}
    <section class="campaign-select-card">

        <a class="campaign-card" href="search_ad_settings.html">
            <div class="campaign-select-card--info">
                <img class="img-fluid campaign-select-card--info-img" src="{% static 'images/undraw_search_re_x5gq.svg' %}"
                    alt="website-visits">
                <h2>Search ads</h2>
            </div>
        </a>

        <a class="campaign-card" href="sponsor_ad_settings.html">
            <div class="campaign-select-card--info">
                <img class="img-fluid campaign-select-card--info-img" src="{% static 'images/undraw_image_post_re_25wd.svg' %}"
                    alt="website-visits">
                <h2>Sponsored ads</h2>
            </div>
        </a>
    </section>

{% endblock content %}



